bandit
bpython
bumpversion
coverage
fabric3<2.0
flake8
ipython
jedi
mypy
netifaces
paramiko
pip-tools
pylint
pytest-cov
pytest-runner
pytest
python-build
remote-pdb
rope
ropevim
sphinx
tmuxp
twine
watchdog
wheel
